h1{
    font-size: 55px ;
    float:right ;
    margin-top: -450px;
    margin-right: 500px;
}
h2{
    font-size: 20px;
    float:right ;
    margin-top: -350px;
    margin-right: 450px;
}
ul{
    list-style: none;
}
.List li{
    margin-top: 30px;
}

button{
    margin-left: 20px;
    margin-top: 10px;
}
img{

    width: 100px;
    margin-left: 0px;
    width: 100%;
    
}
.sub_c{
    position: absolute;
    margin-top: -200px;
    margin-left: 200px;
    display: flex;
}
p{
    font-family: Sans-serif;
    
    text-align: center;
}
select{
    border-color: rgb(246, 246, 248);
    background-color: rgb(246, 246, 248);
    border-radius: 10px;
}
.card{
    width: 150px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: 50px;
}
.type:hover{
    margin-top: -15px;
    transition: 0.4s;
   
}

.type1:hover{
    margin-top: -15px;
    transition: 0.4s;
}
.type2:hover{
    margin-top: -15px;
    transition: 0.4s;
}
.type3:hover{
    margin-top: -15px;
    transition: 0.4s;
}



