
.Cards_list{
    display: flex;
}
.container_main{
    width:200px;
    border: 1px solid rgb(206, 201, 201);
    margin-left: 100px;
    padding: 10px;
    background-color: rgb(198, 194, 240);
    border-radius: 10px;
}
h1{
    font-size: 20px;
    border: 1px solid rgb(138, 135, 135);
    width: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
}
h2{
    font-size: 25px;
    color: white;
}
h3{
    font-size: 15px;
    margin-left: 20px;
    color: rgb(134, 126, 126);
}
button{
    margin-left: 40px;
}

